<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js Tutorial | API Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="ajaxapi.css">
</head>

<body>
    <div id="app">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="lead-form">
                    <h1 class="text-center">
                        Fill out this form
                    </h1>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Starting Zip" v-model="startingZip">
                            <span class="city-span">{{ startingCity }}</span>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Ending Zip" v-model="endingZip">
                            <span class="city-span">{{ endingCity }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary btn-block" id=submit-form>Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://unpkg.com/vue@2.5.22/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/lodash@4.17.2/lodash.min.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            startingZip: '',
            startingCity: '',
            endingZip: '',
            endingCity: '',
        },
        watch: {
            startingZip: function () {
                this.startingCity = ''
                if (this.startingZip.length == 5) {
                    //call API method
                    this.lookupStartingZip()
                }
            },
            endingZip: function () {
                this.endingCity = ''
                if (this.endingZip.length == 5) {
                    //call API method
                    this.lookupEndingZip()
                }
            }
        },
        methods: {
            // function in loadash, Why to send Ajax requests to the server every 50ms, when the user is still typing? _.debounce can help us, avoiding extra work, and only send the request when the user stops typing.
            lookupStartingZip: _.debounce(function () {
                var ap = this
                ap.startingCity = "Searching..."
                axios.get('http://ZiptasticAPI.com/' + ap.startingZip)
                    .then(function (response) {
                        ap.startingCity = response.data.city + ', ' + response.data.state
                    })
                    .catch(function (error) {
                        ap.startingCity = 'Invalid Zipcode'
                    })
            }, 500),

            lookupEndingZip: _.debounce(function () {
                var ap = this
                ap.endingCity = 'Searching...'
                axios.get('http://ZiptasticAPI.com/' + ap.endingZip)
                    .then(function (response) {
                        ap.endingCity = response.data.city + ', ' + response.data.state
                    })
                    .catch(function (error) {
                        ap.endingCity = 'Invalid Zipcode'
                    })
            }, 500)
        }
    })
</script>

</html>